
.sudokuField{
    width:1000px;
    height:700px;
}
.horizontal{
    float:left;
    white-space:nowrap;
    display:inline-block;
}

.vertical{
    float:left;
    width:100%;
}


.sudokucell{
    width:30px;
    height:30px;
    text-align:center;
    font-size:15px;
    border: 1px solid red;
}

.separatorX{
    height: 30px;
    width: 4px;
    background: black;
}
.separatorY{
    height: 4px;
    width: 30px;
    background: black;
}

.separatorYX{
    height: 4px;
    width: 4px;
    background:black;
} 

.hidden{
    visibility:hidden;
    border-color:transparent;
    display:block !important;
}
